.md-typeset .md-annotation__index > ::before {
    content: attr(data-md-annotation-id);
}
.md-typeset :focus-within > .md-annotation__index > ::before {
    transform: none;
<<<<<<< HEAD
}

[data-md-color-scheme="ydata"] {
  --md-primary-fg-color:        #202124;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-accent-fg-color: #007dfc;
  --md-typeset-a-color: #007dfc;
  --md-hue: 4;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #202124;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-accent-fg-color: #007dfc;
  --md-typeset-a-color: #007dfc;
  --md-hue: 215;
}
=======
}
>>>>>>> 4e1a4f3 (docs: configure the doc generator [SD-700])
